/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define orange and blue colors */
:root {
    --primary-color: #FFA500;
    --secondary-color: #007BFF;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--secondary-color);
}

/* Hero section styles */
.hero {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
}

/* Other section styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.about, .programs, .contact {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border-radius: 5px;
}

.about h2, .programs h2, .contact h2 {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
}

.about p, .programs p, .contact p {
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
}

/* Footer styles */
footer {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 0;
}
